.currency-selection .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }

  .currency-selection .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.008em;

    color: #000000;
    border: 3px solid #0078F0;
    border-radius: 5px;
  }

  .currency-selection .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .currency-selection .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #0078F0 transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }

  .currency-selection .select-styled:active {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .currency-selection .select-styled:active:after,
  .currency-selection.select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #000 transparent;
  }

  .currency-selection .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-left: 3px solid #0078F0;
    border-right: 3px solid #0078F0;
    border-bottom: 3px solid #0078F0;

    margin: 0 -3px;
  }

  .currency-selection .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;

    border-top: 1px solid #0078F0;
  }

  .currency-selection .select-options li:hover,
  .currency-selection .select-options li.is-selected {
    color: #000;
    background: #fff;
  }

  .currency-selection .select-options li[rel="hide"] {
    display: none;
  }